<p>comment-section-block works!</p>
<div class="comment_section_block">
    <div class="action_comment_section">
      <div class="div-block-8 w-clearfix"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" alt="" class="image-5">
    </div>
      <a href="#nb_comments" class="link_action">Text Link</a>
    </div>
    <div class="action_comment_section">
      <a href="#" class="button-2 w-button">Button Text</a>
      <a href="#" class="button w-button">Button Text</a>
      <a href="#" class="button-3 w-button">Button Text</a>
    </div>
    <div class="comment_section">
      <div class="header_comment_section">
        <a href="#" class="more_comments link_action">Text Link</a>
      </div>
      <div class="comments_detail_section">
        <ol role="list" class="list_of_comments">
          <li class="list-item_right"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="32" height="32" alt="" class="profil_icon_commenter">
            <div class="comment_text_block"></div>
            <div class="div-block-9"></div>
          </li>
          <li class="list-item_right">
            <div class="div-block-10"></div>
            <div class="comment_text_block"></div><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="32" height="32" alt="" class="profil_icon_commenter">
          </li>
          <li class="list-item_right"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="32" height="32" alt="" class="profil_icon_commenter">
            <div class="comment_text_block"></div>
          </li>
        </ol>
      </div>
      <div class="display_more_comments">
        <a href="#" class="display_more_comments_link link_action">Text Link</a>
      </div>
      <div class="write_comment">
        <div class="form-block w-form">
          <form id="email-form" name="email-form" data-name="Email Form" class="form"><img src="https://d3e54v103j8qbb.cloudfront.net/plugins/Basic/assets/placeholder.60f9b1840c.svg" loading="lazy" width="40" height="40" alt="" class="image-6"><input type="text" class="comment_input w-input" maxlength="256" name="name" data-name="Name" placeholder="" id="name"><input type="submit" value="Submit" data-wait="Please wait..." class="submit-button w-button"></form>
          <div class="w-form-done">
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div class="w-form-fail">
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </div>
    </div>
  </div>